extends layout

block content
    h1 Form page

    form(action="/api/v1/form" method="POST")
        p Username:
            input(type="text" name="username" placeholder="")
        p Password:
            input(type="password" name="password" placeholder="")
        p Gender:
            input(type='radio', name='male', id='male')
            label(for='male') Male
            input(type='radio', name='female', id='female')
            label(for='female') Female
        p Agree With:
            input(type='checkbox', name='agree_with', id='agree_with')
        input(type="submit")
