extends layout

block content
    h1 Results page

    ul#users
        each user in users
            div.users__list__item
                each key, val in user
                    li #{val} - #{key}