extends layout

block content
   //div#root
   //    ul
   //    each todoItem in todoList
   //         each val, key in todoItem
   //             li= `${key} - ${val}`
   p sdsadsadasdsad
    script(src="/index_bundle.js")
